*{
    font-family: 'Quicksand', sans-serif;
}

@keyframes slide{
    0%{ opacity: 0;
        width: 0%;
    }
    20%{color: blanchedalmond;
        opacity:0.4;
        width: 100%;
    }
    100%{opacity:1;
        color:black;
        
    }
   

}
.aa{

  
  
 animation: slide 4s linear 1;
 -webkit-animation: slide 4s linear 1;
  
}
.a{margin-top: 50px;
    height: 150px;
       
}
.headerpart{width: 100%;
    background-repeat: no-repeat;
    background-image: url("100.png");
}
h3{
    font-family: 'Caveat', cursive;

}
.b{
    background-image: url("102.png");
}
.extradiv{
   animation: rotate 5s  ease 1;
}
@keyframes rotate{
    0%{ color: blanchedalmond;
        opacity: 0.2;
        width: 0%;
    }
    20%{color: rgb(226, 222, 215);
        opacity:0.4;
        
    }
    100%{opacity:1;
        color:rgb(63, 63, 63);
        
    }
   

}
button{
    word-spacing: 3px;
    margin-left: 30px;
}
.nav-item a:hover{
    
    color: black;
    text-shadow: 3px 3px 20px rgba(28, 181, 228, 0.568),
    -2px 1px 30px rgb(223, 217, 217);
   
    border-bottom: 1.5px solid  #a5e0eb ; 
 
    
  }
 .photo{
   
     animation: a   2s linear;
     animation-delay: 2s;
    
     -webkit-animation:  a  2s linear;
 }
 
 @keyframes a{
    0%{ 
        transform: rotate(-10deg);
    }
    20%{
        transform: rotate(-20deg);

    }
    40%{
        transform: rotate(-25deg);

    }
    60%{
        transform: rotate(-20deg);
    }
    80%{
        transform: rotate(-10deg);
    }
    100%{
        transform:rotate(0deg);
    }
}

.f-border{
      border-top: 0.5px dashed #606060;  
}
 .cc{
     
    /*background-image: url("32.png");*/
    background-image: linear-gradient(to bottom , white , #606060);
    }